.live-message {
	background: url(falcon9.jpg);
	border-radius: 0px 0px 5px 5px;
	padding:20px 0px 2px 20px;
	margin-bottom:20px;
}

header {
	padding:10px;
	display:flex;
	a {
		color: $gray;
		font-size:18px;
		margin-right:20px;
		&.current {
			color: $blue;
		}
	}	
}