.launch {
    display:flex;
    overflow:hidden;
	min-height: 130px;
    background: #181c1f;
    margin-bottom: 10px;
    border-radius: 5px;
    .launch-image {
    	display:flex;
    	justify-content:center;
    	align-items:center;
        padding:5px;
	    img {
	    	width: 120px;
	    	height:120x;
	    	object-fit:cover;
	    }
    }
    .launch-details {
        flex:1;
        align-items:center;
        justify-content:center;
        display:flex;
        flex-direction:column;
        padding:10px;
        p {
            text-align:center;
        }
    }
}