.next-launch {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	width:100%;
	margin-bottom:20px;
	> span {
		display:block;
	}
	.next-launch-countdown {
		display:flex;
		align-items:center;
		justify-content:center;
		min-height:85px;
		.countdown {
			color: $blue;
			font-size:30px;
		}
	}
}